.DS_Store
RKLOG.DAT

reports/
papers/

doc/
bin/
img/
data/
tmp/

madx-scripts/*
!madx-scripts/*.madx
!madx-scripts/*.seq
!madx-sctipts/*.py
!madx-scripts/support
!madx-scripts/ST-mode
analysis/tbl/


__pycache__/

*.lis
*.bld
*~
*.pyc